<p id="notice"><%= notice %></p>
<div class="">
  <%= link_to 'Generate Matches', "/generate_matches/#{@object.id}",
  remote: true, class: 'btn btn-info' %>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Group</th>
      <th>Home team</th>
      <th>Home team score</th>
      <th>Visitor team score</th>
      <th>Visitor team</th>
      <th>Winner</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="matches_table">
    <%= render partial: 'matches', locals: {matches: @matches} %>
  </tbody>
</table>
